@model AirsoftApplication.Web.ViewModels.Comments.CommentViewModel


    @foreach (var subComment in Model.SubComments)
    {
        <div class="media mt-3 mb-4">
            @if (subComment.UserId != null && subComment.ProfileImageUrl != null)
            {
                <img class="d-flex mr-3 z-depth-1" src="@subComment.ProfileImageUrl" width="62" height="72" alt="Generic placeholder image">
            }
            else
            {
                <img class="d-flex mr-3 z-depth-1" src="~/Images/default-avatar.png" width="62" alt="Generic placeholder image">
            }
            <div class="media-body">
                <div class="d-sm-flex justify-content-between">
                    <p class="mt-1 mb-2">
                        @if (subComment.UserId != null)
                        {
                            <strong>@subComment.PlayerName </strong>
                        }
                        else
                        {
                            <strong>Anonymous </strong>
                        }
                        <span>– </span><span>@subComment.Date</span>
                    </p>
                </div>
                <p class="mb-0">@subComment.Content</p>
            </div>
            <hr />
        </div>
    }

