@model IEnumerable<StatisticInfoViewModel>

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Roles</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboards</a></li>
                            <li class="breadcrumb-item"><a asp-action="AllPlayers">Players</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Remove</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-controller="users" asp-action="AllPlayers" class="btn btn-sm btn-neutral">Users</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Statistics</h3>
                        </div>
                    </div>
                </div>

                @foreach (var info in Model)
                {
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h3 class="mb-0">@info.EventName - @info.Date</h3>
                    </div>
                </div>
                @foreach (var gunInfo in info.Info)
                {
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h3 class="mb-0"> @gunInfo.Gun - @gunInfo.GunEnergy J.</h3>
                            </div>
                        </div>
                    </div>
                }
            </div>

                    

                }
            </div>
        </div>
    </div>
</div>
