

<div class="media mt-3 mb-4">
    <img class="d-flex mr-3 z-depth-1" src="~/Images/default-avatar.png" width="62" alt="Generic placeholder image">
    <div class="media-body">
        <div class="d-sm-flex justify-content-between">
            <p class="mt-1 mb-2">
                <strong>Name </strong>
                <span>– </span><span>25.10.2021</span>
            </p>
        </div>
        <p class="mb-0">Message text.............!</p>
    </div>
    <hr />
</div>