@model AirsoftApplication.Web.ViewModels.Users.UserViewModel
@using AirsoftApplication.Data.Models.Guns


<h4><a asp-controller="Home" asp-action="Index" class="link-primary">Home</a>/Profile</h4>
@{
    ViewData["Title"] = "Player profile";
}
<br />


   
