@model AirsoftApplication.Web.ViewModels.Administration.Events.InputFieldViewModel

<h4>Add battlefield</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateField" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Field name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationUrl" class="control-label">Google maps location</label>
                <input asp-for="LocationUrl" class="form-control" />
                <span asp-validation-for="LocationUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Images" class="form-label">Images</label>
                <input asp-for="Images" class="form-control" type="file" id="formFileMultiple" multiple>
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add battlefield" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

