@model IEnumerable<AirsoftApplication.Web.ViewModels.Users.UserViewModel>
@using AirsoftApplication.Common

<h4><a asp-controller="Home" asp-action="Index" class="link-primary">Home</a>/Players</h4>
@{
    ViewData["Title"] = "Players";
}

<div class="intro">
    <h2 class="text-center">@GlobalConstants.Team.Name</h2>
</div>

<br />

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3 order-xl-2 mb-3">
            <div class="card card-profile">
                @if (item.ProfileImageUrl != null)
                {
                    <img src="@item.ProfileImageUrl" alt="Image placeholder" style="height:320px" class="card-img-top">
                }
                else
                {
                    <img src="~/Images/default-avatar.png" alt="Image placeholder" style="height: 320px" class="card-img-top">
                }
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">

                        </div>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="row">
                    </div>
                    <div class="text-center">
                        <h6>
                            <strong>@item.PlayerName<span class="font-weight-light"></span></strong> 
                        </h6>
                        <hr />
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>@item.AllUserRoles
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

