@model IEnumerable<AirsoftApplication.Web.ViewModels.Users.UserViewModel>

<h4><a asp-controller="Home" asp-action="Index" class="link-primary">Home</a>/<a asp-controller="Team" asp-action="Index" class="link-primary">Team</a>/Players</h4>
@{
    ViewData["Title"] = "Players";
}

<br/>

<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-xl-4 order-xl-2">
        <div class="card card-profile">
            @if (item.ProfileImageUrl != null)
            {
                <img src="@item.ProfileImageUrl" alt="Image placeholder" style="height:370px" class="card-img-top">
            }
            else
            {
                <img src="~/Images/default-avatar.png" alt="Image placeholder" style="height: 370px" class="card-img-top">
            }
            <div class="row justify-content-center mb-2">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">

                    </div>
                </div>
            </div>

            <div class="card-body pt-0">
                <div class="row">

                </div>
                <div class="text-center">
                    <h5 class="h3">
                        @item.PlayerName<span class="font-weight-light"></span>
                    </h5>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>@item.AllUserRoles
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

