@model IEnumerable<AirsoftApplication.Web.ViewModels.Users.UserViewModel>

<h4><a asp-controller="Home" asp-action="Index" class="link-primary">Home</a>/<a asp-controller="Team" asp-action="Index" class="link-primary">Team</a>/Players</h4>
@{
    ViewData["Title"] = "Players";
}
<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Players</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>

        <div class="row">
            @foreach (var player in Model)
            {
            <div class="col-md-3 mb-1">

                @if (player.Images.Count() != 0)
                {

                    <img class="img-fluid" src="@player.Images.OrderByDescending(x => x.CreatedOn).FirstOrDefault().ImageUrl" style="height:310px;width:310px">
                }
                else
                {
                    <img class="img-fluid" src="~/Images/default-avatar.png" style="height:310px;width:310px">
                }
                <hr />

                <p>
                    <strong>
                        <i class="fas fa-chess-king" style="color:cornflowerblue"></i> @player.PlayerName
                    </strong>
                </p>
                <p>
                    <strong>
                        <i class="fas fa-trophy" style="color:green"></i> Graoforce - Team
                    </strong>
                </p>
                <p>
                    <strong>@player.AllUserRoles</strong>
                </p>
            </div>
            }
        </div>

    </div>
</div>



